# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Handin Playground.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\src\Unity\EmptyThreeD\HandinPlayground\Handin Playground\.idea\.idea.Handin Playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
